/*DEVELOPER: Lap Le, IS117-102, Spring 2022 */
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #ffffff;
  }
  
  p {font-size: 16px;}
  
  .bg-1 { 
    background-color: #2f2f2f; /* Black Gray */
  }
  
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}
  
  .container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav  li a {
    font-size: small;
    padding: 5px;
    color: goldenrod;
  }

  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  
  @media (max-width:1400px) {
    .bg-1, .bg-2, .bg-4 {
        padding: 20px
    }
  }
  
  .bg-2{
      background-color: #2f2f2f; /* Black Gray */
      padding-bottom: 0;
    }

.bg-2 > ul > li {
    list-style: none;
    display: inline;
}

.bg-2 ul {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.bg-2 li > a {
    color: white;
}

a:hover {
    color: white;
}

p {
    text-align: center;
    font-size: small;
}